<p class="enourmous"><%= @user.name %> represented <%= number_to_percentage rand * 100, :precision => 2 %></p>
<%- if @user.districts.empty? %>
<p class="larger"><%= @user.name %> does not belong to any districts</p>
<%- else %>
<ul class="orangelist">
	<%- for district in @user.district_memberships %>
	<p><%= link_to h(district.full_name), district %> 100% by <%= h( district.representative.name ) if district.representative %></p>
	<%- @user.votes.all(:conditions => {:voteable_type => 'Article' }).each do |vote| %>
		<%= vote.voteable_id %>
	<%- end %>
	<%- end %>
</ul>
<%- end %>

<%- @user.votes.all(:conditions => {:voteable_type => 'Article' }).each do |vote| %>
	<%- article = Article.find(vote.voteable_id) %>
	<%= article.title %>
	<%= vote.vote %>
	<%= article.represented?(current_user, current_district.representative) %>
<%- end %>
