<%- current = current_district || current_community %>
<div class="left_column golden_big">
	<div class="box">
		<h2 class="header">Supported Legislation</h2>
		<div class="body">
			<ul class="orangelist">
				<%- current.articles.if_certified(certification_filter?).most_supported(7).each do |article| %>
				<li><span class="dull">(<%= article.support_count %>)</span> <%= link_to truncate(article.name, 130), article %></li>
				<%- end %>
			</ul>
		</div>
	</div>
</div>
<div class="right_column golden_small">
	<p class="larger" style="padding:0;padding-bottom:0.37em"><%= number_with_delimiter current.articles.size %> Legislative Items Tracked</p>
	
	<div class="box">
		<h2 class="header">Search</h2>
		<div class="body">
			<%- form_tag '/articles', :method => 'get' do %>
			<div class="p_padding">
				Legislation's titles and content <br />
				<%= text_field_tag "search", "Keywords", :onblur => "if(this.value == '') this.value = 'Keywords';", :onclick => "if(this.value == 'Keywords') this.value = '';", :size => "15" %><%= image_tag "indicator.gif", :id => "search_indicator", :style => "display:none"  %>
				<%= submit_tag 'Search' %>
			</div>
			<%- end %>
		</div>
	</div>
	<div class="box">
		<h2 class="header">Browse by Stage</h2>
		<ol class="body">
			<li><%= link_to "Propose", new_article_path %> a new idea</li>
			<li><%= link_to "Develop", :controller => :ideas %> ideas into legislation</li>
			<li><%= link_to "Corroborate", :controller => :proposals %> the agenda</li>
			<li><%= link_to "Control", :controller => :comites %> legislature</li>
			<li><%= link_to "Vote", :controller => :legislations %> to ensure representation</li>
			<li><%= link_to "Promulgation", :controller => :laws %> of laws</li>
		</ol>
	</div>	
</div>