<%- if help_enabled? %>
<div class="container rounded help">
	<p>Determining which piece of legislation should enter <%= h current_community.name %> next is simple</p>
	<p>This section shows the Agenda of <%= h current_district.name %>. Each constituent is asked to select one Motion as their exclusive Top Priority. The Motion with the most collective Top Priority is the strongest choice for sponsorship into <%= h current_community.name %> by <%= current_district.representative ? current_district.representative.name : "the legislator" %> </p>
	<p>Motions are sorted by most collective Top Priority. Select a Motion from below to be your Top Priority. You may change your Top Priority at any time. </p>
</div>
<%- end %>
<%- if current_district %>
<div class="box rounded summary">
	<h1 class="header"><%= h current_district.name %>'s Agenda for <%= h current_district.community.name %></h1>
	<div class="body">
		<div class="two_columns">
			<div class="left_column golden_big">
				<div class="two_columns">
					<div class="left_column half">
						<%- top_focuses = current_district.articles.focuses.sort { |a,b| b.focus_count <=> a.focus_count } %>
						<%- ratios = []; labels = "" %>
						<%- for article in top_focuses#[0..4] %>
							<%- ratios << (article.focus_count.to_f / current_district.population) * 100 %>
							<%- labels << article.number << "|" %>
						<%- end %>
						<%- rest = ratios.sum - ratios[0..2].sum %>
						<%- remainder = 100 - ratios.sum %>
						<%= image_tag "http://chart.apis.google.com/chart?cht=p&chs=320x200&chd=t:" + ratios.join(",") + "," + rest.to_s + "," + remainder.to_s + "&chl=" + labels + "et cetera|indecisive&chf=bg,s,00000000", :style => "float:left" %>
					</div>
					<div class="right_column half">
						<table class="ruler">
							<thead>
							<tr><th>Motion</th><th>Top Priority for</th></tr>
							</thead>
							<tbody>
							<%- for article in top_focuses[0..2] %>
							<tr style="cursor:pointer" onclick="document.location.href='<%= article_url(article) %>'">
								<td><%= article.number %></td>
								<td><%= pluralize article.focus_count, "person" %></td>
							</tr>
							<%- end %>
							<tr><td>et cetera</td><td><%= number_to_percentage rest, :precision => 2 %></td></tr>
							<tr><td>indecisive</td><td><%= number_to_percentage remainder, :precision => 2 %></td></tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="right_column golden_small">
				<%- if logged_in? && current_district.member?( current_user ) %>
				<div class="box">
					<h2 class="header">Your Top Priority</h2>
					<div class="body">
						<%- if logged_in? && current_user.focus(current_district) %>
						<p style="margin-bottom: 15px">Your top priority is <%= link_to (current_user.focus(current_district).article.number + " - " + current_user.focus(current_district).article.title), current_user.focus(current_district).article %></p>
						<%- else %>
						<p style="margin-bottom: 15px">Choose your Top Priority from the available priorities.</p>
						<%- end %>		
					</div>
				</div>
				<%- end %>
				<%- if logged_in? && current_user.has_privilege?('move into session', current_district) %>
				<div class="box">
					<h2 class="header">Move to Session</h2>
					<div class="body">
						<%- if current_district.top_priority %>
						<p><%= pluralize current_district.top_priority.focus_count, "person" %> want you to sponsor <%= link_to "Move #{ current_district.top_priority.number + "- " + current_district.top_priority.title } into Session", { :controller => 'districts', :action => 'move_top_priority_into_session', :id => current_district }, :confirm => "Are you sure?" %> next</p>
						<%- else %>
						<p>Your constituents do not want you to sponsor any new Legislation, lucky you.</p>
						<%- end %>	
					</div>
				</div>
				<%- elsif current_district.representative %>
				<div class="box">
					<h2 class="header">Representative Activity</h2>
					<div class="body">
						<p><%= h current_district.name %> wants <%= link_to h(current_district.representative.name), current_district.representative %> to sponsor <%= current_district.top_priority ? link_to( h( current_district.top_priority.title.blank? ? "Untitled" : current_district.top_priority.title ), current_district.top_priority) : "Nothing" %><span class="smaller dull">*</span> next.</p>
						<p class="smaller dull">* the agenda is determined by constituent's Top Priority and is subject to change at any time.</p>	
					</div>
				</div>
				<%- end %>	
			</div>	
			<%= clear_both %>
		</div>
	</div>
</div>
<%- end %>
<div class="box">
	<h2 class="header">Select your Top Priority for <%= current_name %></h2>
	<div class="body">
		<%- if @list.empty? %>
		<p class="larger">There are no Motions available to choose from</p>
		<%- else %>
		<table class="ruler">
			<thead>
				<tr><th></th><th>Title</th><th>Top Priority For</th></tr>
			</thead>
			<tbody class="">
			<%- for article in @list %>
			<tr class="<%= certified_class article %>" style="cursor:pointer" onclick="document.location.href='<%= url_for article %>'">
				<td style="width: 33px; padding-left: 3px;"><%= @width = 30; @article = article; render :partial => 'articles/support_image' %></td>
				<td><%= h article.title %></td>
				<td><%= pluralize article.focus_count, "Person" %></td>
			</tr>
			<%- end %>
			</tbody>
		</table>	
		<%- end %>
	</div>
</div>
