<div class="box">
	<h1 class="header">Democracy Universal = Democracy Anywhere</h1>
	<div class="body">
		<div class="left_column golden_big">
			<h2>Start a Democracy</h2>
			<p>Democracy Universal will mirror most representative legislatures. Add transparency and individual accountability to any democratic process in seconds.</p>
			<p>When you create a new democracy, you become the chairperson responsible for synchronizing the laws and the management of the democracy. This task may be delegated out to clerk and coordinator positions, or completely automated using our integration API. </p>
		</div>
		<div class="right_column golden_small">
			<h2>New Democracy</h2>
			<%- form_for @community do |f| %>
			<p><%= f.label :name, "Name" %> <%= f.text_field :name, :style => "width: 94%" %></p>
			<p>with <%= f.text_field :tax_population, :size => 4 %> <%= f.label :tax_population, "Registered voters" %></p>
			<p><%= submit_tag "Create" %></p>
			<%- end %>
		</div>
	</div>
</div>